<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberTestSuite" data-provider-thread-count="12">
    <test name="EngineeringJunitTests" junit="true" parallel="methods" thread-count="10" verbose="1">
        <packages>
            <package name="com.cucumber.utils.clients.*"/>
            <package name="com.cucumber.utils.poller.*"/>
            <package name="com.cucumber.utils.resource.*"/>
            <package name="com.cucumber.utils.engineering.*"/>
            <package name="com.cucumber.utils.context.*"/>
        </packages>
    </test>
    <test name="CucumberTests">
        <packages>
            <package name="com.cucumber.utils.features.*"/>
        </packages>
    </test>
</suite>